action-tutorials-py==0.14.3
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.8
ament-clang-format==0.10.6
ament-clang-tidy==0.10.6
ament-cmake-google-benchmark==1.1.4
ament-cmake-test==1.1.4
ament-copyright==0.10.6
ament-cppcheck==0.10.6
ament-cpplint==0.10.6
ament-flake8==0.10.6
ament-index-python==1.2.0
ament-lint==0.10.6
ament-lint-cmake==0.10.6
ament-mypy==0.10.6
ament-package==0.12.0
ament-pclint==0.10.6
ament-pep257==0.10.6
ament-pycodestyle==0.10.6
ament-pyflakes==0.10.6
ament-uncrustify==0.10.6
ament-xmllint==0.10.6
aniso8601==9.0.1
apturl==0.5.2
argcomplete==2.0.0
astor==0.8.1
astroid==2.11.4
async-timeout==4.0.2
atomicwrites==1.1.5
attrs==19.3.0
autopep8==1.6.0
Babel==2.6.0
bandit==1.7.4
bcrypt==3.1.7
beautifulsoup4==4.8.2
blinker==1.4
breezy==3.0.2
Brlapi==0.7.0
catkin-pkg==0.4.24
catkin-pkg-modules==0.4.24
certifi==2019.11.28
chardet==3.0.4
charset-normalizer==2.0.12
chrome-gnome-shell==0.0.0
click==8.1.3
colcon-argcomplete==0.3.3
colcon-bash==0.4.2
colcon-cd==0.1.1
colcon-cmake==0.2.26
colcon-common-extensions==0.3.0
colcon-core==0.8.3
colcon-defaults==0.2.6
colcon-devtools==0.2.3
colcon-installed-package-information==0.1.0
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-notification==0.2.13
colcon-output==0.2.12
colcon-override-check==0.0.1
colcon-package-information==0.3.3
colcon-package-selection==0.2.10
colcon-parallel-executor==0.2.4
colcon-pkg-config==0.1.0
colcon-powershell==0.3.7
colcon-python-setup-py==0.2.7
colcon-recursive-crawl==0.2.1
colcon-ros==0.3.23
colcon-test-result==0.3.8
colcon-zsh==0.4.0
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
cov-core==1.15.0
coverage==4.5.2
cryptography==2.8
cupshelpers==1.0
cycler==0.10.0
darglint==1.8.1
dbus-python==1.2.16
defer==1.0.6
defusedxml==0.6.0
demo-nodes-py==0.14.3
Deprecated==1.2.7
dill==0.3.4
distlib==0.3.0
distro==1.4.0
distro-info===0.23ubuntu1
docutils==0.16
domain-coordinator==0.9.2
dulwich==0.19.15
empy==3.3.2
entrypoints==0.3
eradicate==2.1.0
examples-rclpy-executors==0.11.2
examples-rclpy-guard-conditions==0.11.2
examples-rclpy-minimal-action-client==0.11.2
examples-rclpy-minimal-action-server==0.11.2
examples-rclpy-minimal-client==0.11.2
examples-rclpy-minimal-publisher==0.11.2
examples-rclpy-minimal-service==0.11.2
examples-rclpy-minimal-subscriber==0.11.2
examples-rclpy-pointcloud-publisher==0.11.2
examples-tf2-py==0.17.2
fastimport==0.9.8
flake8==4.0.1
flake8-bandit==3.0.0
flake8-broken-line==0.4.0
flake8-bugbear==22.4.25
flake8-commas==2.1.0
flake8-comprehensions==3.8.0
flake8-debugger==4.0.0
flake8-docstrings==1.6.0
flake8-eradicate==1.2.1
flake8-isort==4.1.1
flake8-polyfill==1.0.2
flake8-quotes==3.3.1
flake8-rst-docstrings==0.2.5
flake8-string-format==0.3.0
Flask==2.1.2
Flask-RESTful==0.3.9
frozenlist==1.3.0
gitdb==4.0.9
GitPython==3.1.27
gpg===1.13.1-unknown
html5lib==1.0.1
httplib2==0.14.0
idna==2.8
ifcfg==0.18
imagesize==1.2.0
importlib-metadata==4.11.3
interactive-markers==2.2.0
isort==5.10.1
itsdangerous==2.1.2
Jinja2==3.1.2
keyring==18.0.1
kiwisolver==1.0.1
language-selector==0.1
lark-parser==0.8.1
launch==0.17.0
launch-ros==0.14.2
launch-testing==0.17.0
launch-testing-ros==0.14.2
launch-xml==0.17.0
launch-yaml==0.17.0
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.7.1
louis==3.12.0
lxml==4.5.0
macaroonbakery==1.3.1
MarkupSafe==2.1.1
matplotlib==3.1.2
mccabe==0.6.1
mock==3.0.5
more-itertools==4.2.0
multidict==6.0.2
mypy==0.761
mypy-extensions==0.4.3
netifaces==0.10.4
nose==1.3.7
nose2==0.9.1
notify2==0.3
numpy==1.17.4
oauthlib==3.1.0
olefile==0.46
osrf-pycommon==0.2.1
packaging==20.3
paramiko==2.6.0
pbr==5.4.5
pep8-naming==0.12.1
pexpect==4.6.0
Pillow==7.0.0
platformdirs==2.5.2
pluggy==0.13.0
protobuf==3.6.1
psutil==5.5.1
py==1.8.1
pycairo==1.16.2
pycodestyle==2.8.0
pycryptodomex==3.6.1
pycups==1.9.73
pydocstyle==2.1.1
pydot==1.4.1
pyflakes==2.4.0
PyGithub==1.43.7
Pygments==2.12.0
PyGObject==3.36.0
pygraphviz==1.5
PyJWT==1.7.1
pylint==2.13.8
pymacaroons==0.13.0
PyNaCl==1.3.0
PyOpenGL==3.1.0
pyparsing==2.4.6
PyQt5==5.14.1
pyRFC3339==1.1
PySide6==6.2.4
pytest==4.6.9
pytest-cov==2.8.1
pytest-mock==1.10.4
python-apt==2.0.0+ubuntu0.20.4.7
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-gitlab==2.0.1
python-gnupg==0.4.5
python-qt-binding==1.0.7
pytz==2019.3
pyxdg==0.26
PyYAML==5.3.1
qt-dotgraph==2.0.1
qt-gui==2.0.1
qt-gui-cpp==2.0.1
qt-gui-py-common==2.0.1
quality-of-service-demo-py==0.14.3
rclpy==1.9.0
rcutils==4.0.2
reportlab==3.5.34
requests==2.22.0
requests-unixsocket==0.2.0
resource-retriever==2.5.0
restructuredtext-lint==1.4.0
roman==2.0.0
ros1-bridge==0.10.1
ros2action==0.13.1
ros2bag==0.9.0
ros2cli==0.13.1
ros2component==0.13.1
ros2doctor==0.13.1
ros2interface==0.13.1
ros2launch==0.14.2
ros2lifecycle==0.13.1
ros2multicast==0.13.1
ros2node==0.13.1
ros2param==0.13.1
ros2pkg==0.13.1
ros2run==0.13.1
ros2service==0.13.1
ros2test==0.3.0
ros2topic==0.13.1
ros2trace==2.3.0
rosbag2-py==0.9.0
rosdep==0.21.0
rosdep-modules==0.21.0
rosdistro==0.8.3
rosdistro-modules==0.8.3
rosidl-adapter==2.2.1
rosidl-cli==2.2.1
rosidl-cmake==2.2.1
rosidl-generator-c==2.2.1
rosidl-generator-cpp==2.2.1
rosidl-generator-dds-idl==0.8.0
rosidl-generator-py==0.11.0
rosidl-parser==2.2.1
rosidl-runtime-py==0.9.1
rosidl-typesupport-c==1.2.1
rosidl-typesupport-cpp==1.2.1
rosidl-typesupport-fastrtps-c==1.2.1
rosidl-typesupport-fastrtps-cpp==1.2.1
rosidl-typesupport-introspection-c==2.2.1
rosidl-typesupport-introspection-cpp==2.2.1
rosinstall==0.7.8
rosinstall-generator==0.1.22
rospkg==1.4.0
rospkg-modules==1.4.0
rpyutils==0.2.0
rqt==1.1.1
rqt-action==2.0.0
rqt-bag==1.1.1
rqt-bag-plugins==1.1.1
rqt-console==2.0.1
rqt-graph==1.2.0
rqt-gui==1.1.1
rqt-gui-py==1.1.1
rqt-msg==1.0.4
rqt-plot==1.0.10
rqt-publisher==1.1.3
rqt-py-common==1.1.1
rqt-py-console==1.0.1
rqt-reconfigure==1.0.8
rqt-service-caller==1.0.4
rqt-shell==1.0.1
rqt-srv==1.0.2
rqt-top==1.0.1
rqt-topic==1.2.1
SecretStorage==2.3.1
sensor-msgs-py==2.2.3
shiboken6==6.2.4
simplejson==3.16.0
sip==4.19.21
six==1.14.0
smmap==5.0.0
snowballstemmer==2.0.0
soupsieve==1.9.5
Sphinx==4.5.0
sphinx-autodoc-typehints==1.18.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sros2==0.10.2
stevedore==3.5.0
systemd-python==234
test-launch-ros==0.14.2
testfixtures==6.18.5
tf2-kdl==0.17.2
tf2-py==0.17.2
tf2-ros-py==0.17.2
tf2-tools==0.17.2
toml==0.10.2
tomli==2.0.1
topic-monitor==0.14.3
tracetools-launch==2.3.0
tracetools-read==2.3.0
tracetools-trace==2.3.0
typed-ast==1.4.1
typing-extensions==4.2.0
ubuntu-advantage-tools==27.7
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
vcstools==0.1.42
wadllib==1.3.3
wcwidth==0.1.8
webencodings==0.5.1
wemake-python-styleguide==0.16.1
Werkzeug==2.1.2
wrapt==1.11.2
wstool==0.1.18
xkit==0.0.0
yarl==1.7.2
zipp==1.0.0
