<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

    <title>FEDOR CHARTS</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas0"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas1"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas2"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas3"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas4"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas5"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas6"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas7"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas8"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas9"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas10"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas11"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas12"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var charts = [];
    for (var i = 0; i < 13; i++) {
        const ctx = document.getElementById('canvas' + i).getContext('2d');
        charts.push(
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "",
                        data: 0,
                        fill: false,
                        borderColor: '#343e9a',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            })
        )
    }
    ;

    // const ctx0 = document.getElementById('canvas0').getContext('2d');
    // var chart0 = new Chart(ctx, {
    //     type: 'line',
    //     data: {
    //         labels: [],
    //         datasets: [{
    //             label: "",
    //             data: 0,
    //             fill: false,
    //             borderColor: '#343e9a',
    //             borderWidth: 1
    //         }]
    //     },
    //     options: {
    //         scales: {
    //             y: {
    //                 beginAtZero: true
    //             }
    //         }
    //     }
    // });
    //
    // const ctx1 = document.getElementById('canvas1').getContext('2d');
    // var chart1 = new Chart(ctx, {
    //     type: 'line',
    //     data: {
    //         labels: [],
    //         datasets: [{
    //             label: "",
    //             data: 0,
    //             fill: false,
    //             borderColor: '#343e9a',
    //             borderWidth: 1
    //         }]
    //     },
    //     options: {
    //         scales: {
    //             y: {
    //                 beginAtZero: true
    //             }
    //         }
    //     }
    // });

    setInterval(function () {
        $.ajax(
            {
                type: "GET",
                url: "http://127.0.0.1:5000/motors_position",
                success: function (data) {
                    var today = new Date();
                    for (var i = 0; i < charts.length; i++) {
                        if (charts[i].data.labels.length === 50) {
                            charts[i].data.labels.shift();
                            charts[i].data.datasets[0].data.shift();
                        }
                        charts[i].data.labels.push(today.getMinutes() + ":" + today.getSeconds());
                        charts[i].data.datasets[0].data.push(data[i].current_position);
                        charts[i].data.datasets[0].label = data[i].name;
                        charts[i].update();
                    }
                    // if (chart0.data.labels.length === 50) {
                    //     chart0.data.labels.shift();
                    //     chart0.data.datasets[0].data.shift();
                    // }
                    // chart0.data.labels.push(today.getMinutes() + ":" + today.getSeconds());
                    // chart0.data.datasets[0].data.push(data[0].current_position);
                    // chart0.data.datasets.forEach((dataset) => {
                    //     dataset.label = data[0].name;
                    // });
                    // chart0.update();
                }
            }
        );
    }, 100);
</script>
</html>