<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

    <title>FEDOR GUI</title>
</head>
<body>
<div class="table-responsive">
    <table id="table" class="table table-bordered table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="col-2">Название</th>
            <th scope="col" class="col-2">Описание</th>
            <th scope="col" class="col-1">Минимальный угол положения</th>
            <th scope="col" class="col-1">Максимальный угол положения</th>
            <th scope="col" class="col-1">Текущее положение</th>
            <th scope="col" class="col-1">Желаемое положение</th>
            <th scope="col" class="col-1">kP</th>
            <th scope="col" class="col-1">kI</th>
            <th scope="col" class="col-1">kD</th>
            <th scope="col" class="col-1">График</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <button class="btn btn-outline-dark btn-sm btn-block" type="button" id="btn0">
                    Построить
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <button class="btn btn-outline-dark btn-sm btn-block" type="button" id="btn1">
                    Построить
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <button class="btn btn-outline-dark btn-sm btn-block" type="button" id="btn2">
                    Построить
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <button class="btn btn-outline-dark btn-sm btn-block" type="button" id="btn3">
                    Построить
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <button class="btn btn-outline-dark btn-sm btn-block" type="button" id="btn4">
                    Построить
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <button class="btn btn-outline-dark btn-sm btn-block" type="button" id="btn5">
                    Построить
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <button class="btn btn-outline-dark btn-sm btn-block" type="button" id="btn6">
                    Построить
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <button class="btn btn-outline-dark btn-sm btn-block" type="button" id="btn7">
                    Построить
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <button class="btn btn-outline-dark btn-sm btn-block" type="button" id="btn8">
                    Построить
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <button class="btn btn-outline-dark btn-sm btn-block" type="button" id="btn9">
                    Построить
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <button class="btn btn-outline-dark btn-sm btn-block" type="button" id="btn10">
                    Построить
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <button class="btn btn-outline-dark btn-sm btn-block" type="button" id="btn11">
                    Построить
                </button>
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <button class="btn btn-outline-dark btn-sm btn-block" type="button" id="btn12">
                    Построить
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div
</div>
<div class="container">
    <button class="btn btn-outline-dark btn-sm btn-block" type="button" onclick="sendSetpoint()">Отправить запрос
    </button>
</div>
<div class="container">
    <button class="btn btn-outline-dark btn-sm btn-block" type="button" onclick="sendPID()">Отправить коэффициенты PID
    </button>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <canvas id="canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    charts = []
    const ctx = document.getElementById('canvas').getContext('2d');

    document.getElementById("btn0").onclick = function () {
        if (charts.length > 0) {
            charts[0].destroy();
            charts.pop();
        }

        charts.push(
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: document.getElementById("table").rows[1].cells[0].innerHTML,
                        data: 0,
                        fill: false,
                        borderColor: '#343e9a',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: false
                        }
                    }
                }
            })
        );
    };

    document.getElementById("btn1").onclick = function () {
        if (charts.length > 0) {
            charts[0].destroy();
            charts.pop();
        }

        charts.push(
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: document.getElementById("table").rows[2].cells[0].innerHTML,
                        data: 0,
                        fill: false,
                        borderColor: '#343e9a',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: false
                        }
                    }
                }
            })
        );
    };

    document.getElementById("btn2").onclick = function () {
        if (charts.length > 0) {
            charts[0].destroy();
            charts.pop();
        }

        charts.push(
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: document.getElementById("table").rows[3].cells[0].innerHTML,
                        data: 0,
                        fill: false,
                        borderColor: '#343e9a',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: false
                        }
                    }
                }
            })
        );
    };

    document.getElementById("btn3").onclick = function () {
        if (charts.length > 0) {
            charts[0].destroy();
            charts.pop();
        }

        charts.push(
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: document.getElementById("table").rows[4].cells[0].innerHTML,
                        data: 0,
                        fill: false,
                        borderColor: '#343e9a',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: false
                        }
                    }
                }
            })
        );
    };

    document.getElementById("btn4").onclick = function () {
        if (charts.length > 0) {
            charts[0].destroy();
            charts.pop();
        }

        charts.push(
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: document.getElementById("table").rows[5].cells[0].innerHTML,
                        data: 0,
                        fill: false,
                        borderColor: '#343e9a',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: false
                        }
                    }
                }
            })
        );
    };

    document.getElementById("btn5").onclick = function () {
        if (charts.length > 0) {
            charts[0].destroy();
            charts.pop();
        }

        charts.push(
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: document.getElementById("table").rows[6].cells[0].innerHTML,
                        data: 0,
                        fill: false,
                        borderColor: '#343e9a',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: false
                        }
                    }
                }
            })
        );
    };

    document.getElementById("btn6").onclick = function () {
        if (charts.length > 0) {
            charts[0].destroy();
            charts.pop();
        }

        charts.push(
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: document.getElementById("table").rows[7].cells[0].innerHTML,
                        data: 0,
                        fill: false,
                        borderColor: '#343e9a',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: false
                        }
                    }
                }
            })
        );
    };

    document.getElementById("btn7").onclick = function () {
        if (charts.length > 0) {
            charts[0].destroy();
            charts.pop();
        }

        charts.push(
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: document.getElementById("table").rows[8].cells[0].innerHTML,
                        data: 0,
                        fill: false,
                        borderColor: '#343e9a',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: false
                        }
                    }
                }
            })
        );
    };

    document.getElementById("btn8").onclick = function () {
        if (charts.length > 0) {
            charts[0].destroy();
            charts.pop();
        }

        charts.push(
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: document.getElementById("table").rows[9].cells[0].innerHTML,
                        data: 0,
                        fill: false,
                        borderColor: '#343e9a',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: false
                        }
                    }
                }
            })
        );
    };

    document.getElementById("btn9").onclick = function () {
        if (charts.length > 0) {
            charts[0].destroy();
            charts.pop();
        }

        charts.push(
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: document.getElementById("table").rows[10].cells[0].innerHTML,
                        data: 0,
                        fill: false,
                        borderColor: '#343e9a',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: false
                        }
                    }
                }
            })
        );
    };

    document.getElementById("btn10").onclick = function () {
        if (charts.length > 0) {
            charts[0].destroy();
            charts.pop();
        }

        charts.push(
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: document.getElementById("table").rows[11].cells[0].innerHTML,
                        data: 0,
                        fill: false,
                        borderColor: '#343e9a',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: false
                        }
                    }
                }
            })
        );
    };

    document.getElementById("btn11").onclick = function () {
        if (charts.length > 0) {
            charts[0].destroy();
            charts.pop();
        }

        charts.push(
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: document.getElementById("table").rows[12].cells[0].innerHTML,
                        data: 0,
                        fill: false,
                        borderColor: '#343e9a',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: false
                        }
                    }
                }
            })
        );
    };

    document.getElementById("btn12").onclick = function () {
        if (charts.length > 0) {
            charts[0].destroy();
            charts.pop();
        }

        charts.push(
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: document.getElementById("table").rows[13].cells[0].innerHTML,
                        data: 0,
                        fill: false,
                        borderColor: '#343e9a',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: false
                        }
                    }
                }
            })
        );
    };
</script>
<script>
    setInterval(function () {
        $.ajax(
            {
                type: "GET",
                url: "http://127.0.0.1:5000/motors_position",
                success: function (data) {
                    var table = document.getElementById("table");
                    for (var i = 0; i < data.length; i++) {
                        if (table.rows[i + 1].cells[0].innerHTML === '') {
                            table.rows[i + 1].cells[0].innerHTML = data[i].name;
                            table.rows[i + 1].cells[1].innerHTML = data[i].description;
                            table.rows[i + 1].cells[2].innerHTML = data[i].minAngPos;
                            table.rows[i + 1].cells[3].innerHTML = data[i].maxAngPos;
                            console.log('NOT OK');
                        }
                        table.rows[i + 1].cells[4].innerHTML = data[i].current_position;

                        if (charts.length > 0) {
                            var today = new Date();

                            if (charts[0].data.labels.length === 50) {
                                charts[0].data.labels.shift();
                                charts[0].data.datasets[0].data.shift();
                            };

                            if (charts[0].data.datasets[0].label === data[i].name) {
                                charts[0].data.labels.push(today.getSeconds() + ":" + today.getMilliseconds());
                                charts[0].data.datasets[0].data.push(data[i].current_position);
                                charts[0].data.datasets[0].label = data[i].name;
                                charts[0].update();
                            }
                        }
                    }
                }
            }
        );
    }, 50);
</script>
<script>
    function sendSetpoint() {
        var table = document.getElementById("table");
        var jsonData = {};
        for (var i = 1; i < table.rows.length; i++) {
            var name = table.rows[i].cells[0].innerHTML;
            var setpoint = table.rows[i].cells[5].children[0].value;
            jsonData[name] = setpoint;
        }
        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:5000/motors_setpoint",
            data: jsonData,
        })
    }
</script>
<script>
    function sendPID() {
        var table = document.getElementById("table");
        var data = [];
        for (var i = 1; i < table.rows.length; i++) {
            jsonData = {}
            var name = table.rows[i].cells[0].innerHTML;
            var kP = table.rows[i].cells[6].children[0].value;
            var kI = table.rows[i].cells[7].children[0].value;
            var kD = table.rows[i].cells[8].children[0].value;
            jsonData['name'] = name;
            jsonData['kP'] = kP;
            jsonData['kI'] = kI;
            jsonData['kD'] = kD;
            data.push(jsonData);
        }
        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:5000/motors_pid",
            data: JSON.stringify(data),
            dataType: "json",
        });
    }
</script>
</html>