<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>FEDOR GUI</title>
</head>
<body>
<div class="data_table">
    <table id="table">
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Минимальный угол положения</th>
            <th>Максимальный угол положения</th>
            <th>Текущее положение</th>
            <th>Желаемое положение</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off">
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off">
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off">
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off">
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off">
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off">
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off">
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off">
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off">
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off">
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off">
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off">
            </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off">
            </td>
        </tr>
    </table>
</div>
<div>
    <button class="btn" role="button" onclick="sendSetpoint()">Отправить запрос</button>
</div>
</body>
<script>
    setInterval(function () {
        $.ajax(
            {
                type: "GET",
                url: "http://127.0.0.1:5000/motors_position",
                success: function (data) {
                    var table = document.getElementById("table");
                    for (var i = 0; i < data.length; i++) {
                        table.rows[i + 1].cells[0].innerHTML = data[i].name;
                        table.rows[i + 1].cells[1].innerHTML = data[i].description;
                        table.rows[i + 1].cells[2].innerHTML = data[i].minAngPos;
                        table.rows[i + 1].cells[3].innerHTML = data[i].maxAngPos;
                        table.rows[i + 1].cells[4].innerHTML = data[i].current_position;
                    }
                }
            }
        );
    }, 1000);
</script>
<script>
    function sendSetpoint() {
        var table = document.getElementById("table");
        var jsonData = {};
        for (var i = 1; i < table.rows.length; i++) {
            var name = table.rows[i].cells[0].innerHTML;
            var setpoint = table.rows[i].cells[5].children[0].value;
            jsonData[name] = setpoint;
        }
        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:5000/motors_setpoint",
            data: jsonData,
            // dataType: "json",
        })
    }
</script>
</html>