<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <title>FEDOR GUI</title>
</head>
<body>
<div class="table-responsive">
    <table id="table" class="table table-bordered table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col" class="col-2">Название</th>
            <th scope="col" class="col-2">Описание</th>
            <th scope="col" class="col-1">Минимальный угол положения</th>
            <th scope="col" class="col-1">Максимальный угол положения</th>
            <th scope="col" class="col-1">Текущее положение</th>
            <th scope="col" class="col-2">Желаемое положение</th>
            <th scope="col" class="col-1">kP</th>
            <th scope="col" class="col-1">kI</th>
            <th scope="col" class="col-1">kD</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
        </tr>
        <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <input type="number" value="" autocomplete="off" size="10">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
            <td>
                <input type="number" value="" autocomplete="off" size="3">
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div
</div>
<div class="container">
    <button class="btn btn-outline-dark btn-sm btn-block" type="button" onclick="sendSetpoint()">Отправить запрос</button>
</div>
<div class="container">
    <button class="btn btn-outline-dark btn-sm btn-block" type="button" onclick="sendPID()">Отправить коэффициенты PID</button>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"-->
<!--        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"-->
<!--        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"-->
<!--        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"-->
<!--        crossorigin="anonymous"></script>-->
</body>
<script>
    setInterval(function () {
        $.ajax(
            {
                type: "GET",
                url: "http://127.0.0.1:5000/motors_position",
                success: function (data) {
                    var table = document.getElementById("table");
                    for (var i = 0; i < data.length; i++) {
                        table.rows[i + 1].cells[0].innerHTML = data[i].name;
                        table.rows[i + 1].cells[1].innerHTML = data[i].description;
                        table.rows[i + 1].cells[2].innerHTML = data[i].minAngPos;
                        table.rows[i + 1].cells[3].innerHTML = data[i].maxAngPos;
                        table.rows[i + 1].cells[4].innerHTML = data[i].current_position;
                    }
                }
            }
        );
    }, 1000);
</script>
<script>
    function sendSetpoint() {
        var table = document.getElementById("table");
        var jsonData = {};
        for (var i = 1; i < table.rows.length; i++) {
            var name = table.rows[i].cells[0].innerHTML;
            var setpoint = table.rows[i].cells[5].children[0].value;
            jsonData[name] = setpoint;
        }
        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:5000/motors_setpoint",
            data: jsonData,
        })
    }
</script>
<script>
    function sendPID() {
        var table = document.getElementById("table");
        var data = [];
        for (var i = 1; i < table.rows.length; i++) {
            jsonData = {}
            var name = table.rows[i].cells[0].innerHTML;
            var kP = table.rows[i].cells[6].children[0].value;
            var kI = table.rows[i].cells[7].children[0].value;
            var kD = table.rows[i].cells[8].children[0].value;
            jsonData['name'] = name;
            jsonData['kP'] = kP;
            jsonData['kI'] = kI;
            jsonData['kD'] = kD;
            data.push(jsonData);
        }
        console.log(JSON.stringify(data));
        $.ajax({
            type: "POST",
            url: "http://127.0.0.1:5000/motors_pid",
            data: JSON.stringify(data),
            dataType: "json",
        });
    }
</script>
</html>